<!DOCTYPE html>
<html>
  <head>
    <title>PlanIt</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include ./templates/header.ejs%>
    <div style="width: 400px; margin: auto;">
      <h1>PlanIt</h1>
      <p>This is an app for managing your todo list.</p>
    </div>
  </body>
</html>
