<div class = "header">
  <a href='/' style="margin-left: 25px; margin-right: 25px; color: white;">ABOUT</a>
  <span style="color: white; font: 14px; margin-left: 2px; margin-right: 2px;">|<span>
  <a href='/tasks' style="margin-left: 25px; margin-right: 25px; color: white;">TODO LIST</a>
  <span style="color: white; font: 14px; margin-left: 2px; margin-right: 2px;">|<span>
  <a href='/tasks/add' style="margin-left: 25px; margin-right: 25px; color: white;">ADD TASK</a>
</div>
